{% extends "base.html" %}

{% block content %}
<H2>CROSS2016 について</h2>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  入力項目にエラーがあります
</div>
{% endif %}

<form class="form" method="post">
  {% csrf_token %}

  {% for field in form %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{field.auto_id}}" class="control-label">{{field.label}}</label>
    {{field}}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="text-error">{{ error }}</p>
    {% endfor %}
    {% endif %}
  </div>
  {% endfor %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">送信</button>
</form>

{% endblock %}
