{% extends "base.html" %}

{% block content %}
<h2>アンケート</h2>

{% for timespan in timespans %}
  <h3>{{ timespan.name }}</h3>
  {% if timespan.programs|length == 0 %}
    <button class="btn btn-block" disabled>不参加</button>
  {% else %}
    <a href="{% url "enquete_program" timespan.id %}">
      {% if timespan.enquete %}
      <button class="btn btn-default btn-block">
        <i class="fa fa-check"></i> 回答済み
      </button>
      {% else %}
      <button class="btn btn-primary btn-block">
        <i class="fa fa-pencil"></i> 回答する
      </button>
      {% endif %}
    </a>
  {% endif %}
{% endfor %}


{% endblock %}
